@model AppointmentMaker.Models.ViewModel.CustomerAppointmentViewModel

<div>
    <h4>Appointment Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.PatientNetWorth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.PatientNetWorth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.appointment.PainLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.appointment.PainLevel)
        </dd>
    </dl>
</div>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customer.CityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customer.StreetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.StreetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customer.ZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customer.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.customer.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.customer.EmailAddress)
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.appointment.PatientName }) |
    <a asp-action="Index">Back to List</a>
</div>
